body {
    background-color: #FFFFFF;
}
h1 {
    text-align: center;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid black;
    list-style-type: none;
    padding: 5px;
}
.nav-bar li:hover {
    padding: 5px;
    border: 2px dashed black;
}
